PORT=4000
DATABASE_TYPE='postgres'
DATABASE_URL=postgresql://postgres:postgres@db:5432/hq_outlet
DB_SYNC=false
TYPEORM_LOGGING=false
NODE_ENV=development
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

HQ_SECRET_CODE=
