PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hq_outlet
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hq_outlet

DB_SYNC=true
DATABASE_TYPE="postgres"
TYPEORM_LOGGING=false

HQ_SECRET_CODE=123456
